/* General */
.wrap h1{
	margin-bottom: 1rem;
}
.loxo-sidebar{
	margin-bottom: 30px;
	padding: 10px 20px;
	background-color: #fff;
}

@media (min-width: 961px) {
	.loxo-sidebar{
		padding: 10px 20px;
		float: right;
		width: 260px;
		background-color: #fff;
	}
	.loxo-form{
		overflow: hidden;
	}

	.post-type-loxo_job .wp-list-table .check-column{
		display: none;
	}
	.post-type-loxo_job .wp-list-table .column-job_id{
		width: 50px;
	}

	.post-type-loxo_job .wp-list-table .column-taxonomy-loxo_job_cat,
	.post-type-loxo_job .wp-list-table .column-taxonomy-loxo_job_state{
		width: 80px;
	}
	.post-type-loxo_job .wp-list-table .column-location,
	.post-type-loxo_job .wp-list-table .column-address,
	.post-type-loxo_job .wp-list-table .column-salary{
		width: 80px;
	}

	.post-type-loxo_job .wp-list-table .column-published,
	.post-type-loxo_job .wp-list-table .column-expires{
		width: 100px;
	}
}

.post-type-loxo_job .wp-list-table .ui-datepicker-trigger,
.post-type-loxo_job .wp-list-table .loxo-expiration-datepicker{
	padding: 0;
	border: none;
	min-height: 0;
	line-height: normal;
	outline: none;
	box-shadow: none;
	background-color: transparent;
	font-size: 13px;
	line-height: 1.5em;
}
.post-type-loxo_job .wp-list-table .loxo-expiration-datepicker{
	width: 100%;
}
.post-type-loxo_job .wp-list-table .ui-datepicker-trigger{
	color: #0073aa;
	cursor: pointer;
}