/* Form */
.loxo-form{
	padding: 20px 30px;
	background-color: #fff;
	border: 1px solid #ddd;
}
.loxo-form .field-row{
	margin-bottom: 15px;
}
.loxo-form .field-row:last-child{
	margin-bottom: 0;
}
.loxo-form .field-label{
	font-weight: bold;
}
.loxo-form input[type="text"].field-control,
.loxo-form input[type="email"].field-control,
.loxo-form select.field-control{
	height: 42px;
	color: #000;
	padding: 10px;
	font-size: 14px;
	border-radius: 3px;
	border: 1px solid #DDD;
	box-shadow: none !important;
	width: 100%;
	box-sizing: border-box;
}
.loxo-form .field-control.select2-container{
	padding: 0;
	border: none;
}
.loxo-form .field-row .fancy-select-wrap{
	padding-top: 0;
}
.loxo-form .control-wrap{
	padding-top: 12px;
}
.loxo-submit-button{
	border: none;
	color: #FFF;
	border-radius: 3px;
	padding: 12px 22px;
	background-color: #0264a7;
}

/* Alert */
.loxo-alert{
	padding: 30px;
	margin: 10px 0;
	text-align:center;
	border: 2px solid #4396e6;
}
.loxo-alert .alert-icon{
	font-size: 50px;
}
.loxo-alert .alert-icon,
.loxo-alert .alert-heading{
	color: #4396e6;
}
.loxo-alert .alert-heading{
	font-size: 1.5rem;
}
.loxo-alert .alert-message{
	color: #000;
}
.loxo-alert-error{
	border-color: #FF0000;
}
.loxo-alert-error .alert-icon,
.loxo-alert-error .alert-heading{
	color: #FF0000;
}
.loxo-alert .alert-error{
	color: #FF0000;
}

/* Listing */
.loxo-jobs-listing{
	display: flex;
	flex-wrap: nowrap;
	padding-bottom: 50px;
}
.loxo-jobs-filters{
	flex: 0 0 300px;
	padding-right: 20px;
}
.loxo-jobs-filters .loxo-reset-button{
	float: right;
	margin-top: 8px;
	font-size: 14px;
	text-decoration: underline;
}

.loxo-jobs{
	flex: 1 1 auto;
}
.loxo-jobs-count{
	margin-bottom: 10px;
}
.loxo-jobs .loxo-job{
	display: block;
}

.loxo-jobs .job-inner{
	padding: 20px;
	position: relative;
	transition: all .3s ease-in-out;
	background-color: #FFF;
	border: 1px solid #ddd;
	margin-bottom: 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.loxo-jobs .loxo-job:hover .job-inner{
	border-color: #33c69a;
}
.job-link{
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	position: absolute;
}
.loxo-jobs .job-title{
	margin: 0;
	color: #0264a7;
	font-size: 22px;
	order: 1;
}
.loxo-jobs .job-id,
.loxo-jobs .job-data,
.loxo-jobs .job-excerpt{
	font-size: 14px;
}
.loxo-jobs .job-id{
	order: -1;
	width: 100%;
	color: #33c69a;
}
.loxo-jobs .job-data{
	color: #999;
	order: 3;
	width: 100%;
}
.loxo-jobs .job-meta{
	order: 2;
}
.loxo-jobs .job-meta > span{
	color: #fff;
	padding: 8px;
	line-height: 1.2;
	border-radius: 3px;
	background-color: #33c69a;
}
.loxo-jobs .job-excerpt{
	color: #333;
	margin-top: 20px;
	line-height: 1.6;
	order: 5;
}

/* Pagination */
.loxo-pagination{
	margin: 20px;
	text-align: center;
}

/* Single Job */
.loxo-single-job h3{
	margin-top: 3rem;
}
.loxo-single-job .job-meta{
	margin: 10px 0 20px;
}
.loxo-single-job .job-meta dt{
	float: left;
	margin-right: 10px;
	min-width: 120px;
}
.loxo-single-job .job-meta dd{
	display: block;
}
.job-description{
	flex: 1 1 auto;
}

/* Job Application */
.loxo-job-applied{
	margin-top:50px;
}
.loxo-job-apply-form{
	margin: 20px 0;
}
.loxo-job-apply-form h4{
	color: #0263a7;
	margin-bottom: 20px;
	text-align: center;
}
.loxo-job-apply-form h4:after{
	width: 50px;
	height: 2px;
	content: "";
	display: block;
	margin: 10px auto 0;
	background-color: #0263a7;
}

.loxo-job-share-icons{
	margin: 20px 0;
}
.loxo-job-share-icons a {
    color: #0264a7;
    width: 50px;
    padding: 10px;
    margin: 0 5px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    display: inline-block;
    border: 1px solid #0263a7;
    border-radius: 50%;
}

/* Responsive */
@media (min-width: 768px) {
}
@media (min-width: 992px) {
	.loxo-jobs .job-excerpt{
		flex: 1 1 100%;
	}

	.loxo-single-job .job-content{
		display: flex;
		flex-wrap: nowrap;
		grid-gap: 20px;
	}
	.loxo-job-share-icons{
		text-align: center;
	}
	.job-apply{
		flex: 0 0 300px;
	}
}


@media (max-width: 991px) {
	.loxo-jobs-filters{
		flex: 0 0 240px;
	}
	.loxo-form {
		padding: 15px 20px;
	}
	.loxo-jobs .job-meta span{
		margin: 10px 5px 0 0;
	}

	.loxo-single-job .job-apply{
		margin-top: 30px;
	}
}
@media (max-width: 767px) {
	.loxo-jobs-listing{
		display: block;
	}
	.loxo-jobs-filters{
		flex: none;
	}
	.loxo-jobs{
		margin-top: 20px;
	}
}
